.amazing-jumper-section {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 1000px;
  /* min-height: auto; */
  padding-bottom: 50px;
  padding-top: 120px;
  transform: translateY(-120px);
  margin-bottom: -120px;
  background-image: url(asset/main-amazing-jumper-bg.png);
}

.amazing-jumper-title {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  color: #5A4A42;
  font-size: 28px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 40px;
}

.amazing-jumper-desc {
  margin: auto;
  margin-top: 20px;
  font-family: "gotham-medium", sans-serif;
  letter-spacing: 0px;
  text-align: center;
  color: #5A4A42;
  font-size: 16px;
}

.amazing-jumper-button-items {
  overflow-x: auto;
  width: 100%;
  padding: 0 20px;
  margin-top: 80px;
}

.amazing-jumper-button-items .row {
  width: 160%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.amazing-jumper-button-items::-webkit-scrollbar {
  display: none;
}

@media (min-width: 450px) and (max-width: 768px) {
  .amazing-jumper-section {
    padding-bottom: 25vw;
    padding-top: 20vw;
    transform: translateY(-35vw);
    margin-bottom: -35vw;
  }

  .amazing-jumper-button-items {
    padding: 60px 0;
    margin: 0;
  }
  .amazing-jumper-button-items .row {
    width: 120%;
  }
}

@media (min-width: 768px) {
  .amazing-jumper-section {
    transform: none;
    min-height: 1000px;
    margin-bottom: 0px;
    background-image: url(asset/main-amazing-jumper-bg-desktop.jpg);
    margin-top: -2px;
  }

  .amazing-jumper-container {
    margin-top: -10vw;
  }

  .amazing-jumper-title {
    font-size: 36px;
  }
  .amazing-jumper-desc {
    width: 90%;
    max-width: 880px;
    font-size: 24px;
  }

  .amazing-jumper-button-items {
    margin-top: 100px;
  }
  .amazing-jumper-button-items .row {
    width: 80%;
    max-width: 680px;
    margin: auto;
  }
}

@media (min-width: 1501px) {
  .amazing-jumper-section {
    min-height: 80vw;
  }

  .amazing-jumper-container {
    margin-top: 2vw;
  }

  .amazing-jumper-button-items .row {
    margin-top: 12vw;
  }
}