.main-challenge-section {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: auto;
  padding-bottom: 100px;
  padding-top: 20px;
  margin-top: -80px;
  background-image: url(asset/main-challenge-bg.png);
  position: relative;
}

.main-challenge-title {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  color: #5A4A42;
  font-size: 30px;
  font-weight: bold;
  line-height: 26px;
}

.main-challenge-desc {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  font-family: "gotham-medium", sans-serif;
  letter-spacing: 0px;
  text-align: center;
  color: #5A4A42;
  font-size: 16px;
}

.main-challenge-button-items {
  overflow-x: auto;
  width: 100%;
  padding: 0 20px;
}

.main-challenge-button-items .row {
  width: 160%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-challenge-button-items::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.challenge-button {
  margin: 20px 8px 4px;
}

.challenge-button button {
  font-family: "gotham-medium", sans-serif;
  font-size: 14px;
  width: 180px;
  background-color: #B9D339;
  color: #000000;
  padding: 8px 12px;
  border-radius: 20px;
  border: 0;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.mini-challenge-section .challenge-button button {
  background-color: #ECE500;
  margin-bottom: 40px;
}

.challenge-button button:focus,
.challenge-button.white button {
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
}

.main-challenge-button-items .prize-name {
  text-align: center;
  font-family: "gotham-medium", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 0.9;
}

.jump-detail {
  display: none;
  font-family: "gotham-medium", sans-serif;
  text-align: center;
  color: #5A4A42;
  min-height: 300px;
}

.jump-detail-img {
  width: 260px;
  margin: 12px auto;
}

.jump-detail-img.small {
  width: 150px;
}

.jump-detail img {
  width: 100%;
}

.jump-detail .jump-amount {
  font-size: 16px;
  line-height: 1.15;
}

.jump-detail .desc-title {
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.15;
}

.jump-detail .desc-info {
  font-size: 10px;
  width: 288px;
  margin: auto;
}

.mini-challenge-section {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 80px;
  padding-top: 60px;
  min-height: auto;
  z-index: 100;
  transform: translateY(-140px);
  margin-bottom: -140px;
  position: relative;
  background-image: url(asset/mini-challenge-bg.png);
}

.mini-challenge-section .main-challenge-button-items .row {
  width: 120%;
}

.mini-challenge-title {
  margin-top: 100px;
}

.main-challenge-desc {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  font-family: "gotham-medium", sans-serif;
  letter-spacing: 0px;
  text-align: center;
  color: #5A4A42;
  font-size: 16px;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}

.slider-controls {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  color: #fff;
  font-size: 30px;
  line-height: 5px;
  z-index: 101;
}

.prev,
.next {
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000000;
  opacity: 0.4;
  outline: none;
  background-color: transparent;
  box-shadow: transparent;
  border: none;
  padding: 0;
  z-index: 101;
}

.prev.active,
.next.active {
  opacity: 1;
}

.prev:hover,
.next:hover,
.prev:focus,
.next:focus {
  outline: none;
  background-color: transparent;
  box-shadow: transparent;
}

.slider-item {
  width: 95%;
  margin: 0 2.5%;
}

.slider-container {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 200%;
  width: calc(var(--n)*100%);
  transform: translate(calc(var(--i, 0)/var(--n)*-100% + var(--tx, 0px)));
}

.slider-item__title {
  margin: auto;
  margin-top: 24px;
  font-family: "gotham-bold", sans-serif;
  letter-spacing: 0px;
  text-align: center;
  color: #5A4A42;
  font-size: 16px;
}

.slider-item__desc {
  margin: auto;
  margin-top: 20px;
  font-family: "gotham-medium", sans-serif;
  letter-spacing: 0px;
  text-align: center;
  color: #5A4A42;
  font-size: 14px;
}

.smooth {
  transition: transform calc(var(--f, 1)*.5s) ease-out;
}

img {
  width: 100%;
  pointer-events: none;
}

@media (min-width: 768px) {
  .main-challenge-section {
    background-image: url(asset/main-challenge-bg-desktop.jpg);
    padding-bottom: 20vw;
  }

  .mini-challenge-section {
    background-image: url(asset/mini-challenge-bg-desktop.jpg);
    transform: none;
    margin-bottom: 0;
    padding-top: 20vw;
    padding-bottom: 40px;
    min-height: auto;
    margin-top: -8vw;
  }
  .main-challenge-title {
    font-size: 36px;
  }
  .main-challenge-desc {
    max-width: 880px;
    font-size: 18px;
  }

  .main-challenge-button-items {
    width: 90%;
    padding: 0 20px;
    margin: auto;
    max-width: 880px;
  }

  .main-challenge-button-items .row {
    width: 100%;
    margin: auto;
    max-width: 680px;
  }

  .mini-challenge-section .main-challenge-button-items .row {
    width: 100%;
    margin: auto;
    max-width: 680px;
    justify-content: center;
    text-align: center;
  }

  .jump-detail {
    min-height: 650px;
  }

  .jump-detail-img {
    width: 480px
  }

  .jump-detail-img.small {
    width: 300px
  }

  .jump-detail .jump-amount {
    font-size: 24px;
  }

  .jump-detail .desc-title {
    font-size: 18px;
  }

  .jump-detail .desc-info {
    font-size: 16px;
    width: 480px;
    margin: auto;
  }

  .mini-challenge-title {
    margin-top: -120px;
  }

  .slider-controls {
    bottom: 0;
    top: 750px;
  }
  .mini-challenge-section .slider-controls {
    top: 550px;
  }
}

@media (min-width: 1020px) {
  .slider-container {
    max-width: 880px;
    margin: auto;
  }
  .slider-item__title {
    font-size: 24px;
    margin-top: 40px;
  }
  .slider-item__desc {
    font-size: 18px;
  }
  .slider-wrapper {
    padding-bottom: 100px;
  }
}