.join-prize-section {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: auto;
  padding-bottom: 50px;
  background-image: url(asset/main-join-prize-bg.png);
}

.join-prize-container {
  transform: translateY(-60px);
}

.join-prize-title {
  line-height: 26px;
}

.join-prize-desc {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  font-family: "gotham-medium", sans-serif;
  letter-spacing: 0px;
  text-align: center;
  color: #5A4A42;
  font-size: 14px;
}

.join-prize-items {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 40px;
}

.join-prize-items .row {
  width: 150%;
}

.join-prize-items .prize-one {
  width: 170px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-prize-items .prize-two {
  width: 100px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-prize-items .prize-three {
  width: 170px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-prize-items .prize-four {
  width: 100px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-prize-items .prize-name {
  text-align: center;
  font-family: "gotham-medium", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 0.9;
}

@media (min-width: 768px) {
  .join-prize-section {
    background-image: url(asset/main-join-prize-bg-desktop.jpg);
    margin-top: -2px;
    padding-bottom: 140px;
  }

  .join-prize-container {
    transform: translateY(-100px);
  }

  .join-prize-title {
    line-height: normal;
  }

  .join-prize-items .row {
    width: 80%;
    margin: auto;
    max-width: 1280px;
  }

  .join-prize-items .prize-one {
    padding: 0 60px;
  }

  .join-prize-items .prize-two {
    padding: 0 60px;
  }

  .join-prize-items .prize-three {
    padding: 0 60px;
  }

  .join-prize-items .prize-four {
    padding: 0 60px;
  }

  .join-prize-items .prize-name {
    font-size: 24px;
  }
}