.register-section {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: auto;
  margin-top: -2px;
  padding-bottom: 40px;
  /* background-image: url(asset/main-register-bg.png); */
  background-color: #C0D411;
}

.register-section .section-title {
  padding: 40px 0 20px;
}

.register-form-wrapper {
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}

.register-form-wrapper label {
  margin: auto;
  font-family: "gotham-medium", sans-serif;
  letter-spacing: 0px;
  color: #5A4A42;
  font-size: 14px;
  margin-top: 10px;
}

.tnc-checkbox-label {
  font-family: "gotham-medium", sans-serif;
  letter-spacing: 0px;
  color: #5A4A42;
  font-size: 10px !important;
  text-align: left !important;
  margin-top: 0px !important;
  margin-left: 5px !important;
}

.tnc-checkbox-label u {
  cursor: pointer;
}

.register-form-wrapper input[type="text"],
.register-form-wrapper input[type="email"],
.register-form-wrapper input[type="tel"],
.register-form-wrapper input[type="number"] {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 8px;
  color: #000000;
  font-size: 16px;
  text-align: left;
}

.register-form-wrapper input[type="text"]:hover,
.register-form-wrapper input[type="email"]:hover,
.register-form-wrapper input[type="tel"]:hover,
.register-form-wrapper input[type="number"]:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.register-form-wrapper button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


.register-form-wrapper input:focus {
  outline: 0;
  border: 1px solid #aaa;
}

.register-button {
  margin-top: 20px;
  text-align: center;
}

.register-button button {
  text-align: center;
  font-family: "gotham-medium", sans-serif;
  font-size: 16px;
  width: 120px;
  background-color: #5A4A42;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 20px;
  border: 0;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.upload-file-container {
  margin-top: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
label.upload-file-title {
  font-family: "gotham-light", sans-serif;
  font-size: 10px;
  text-align: center;
  margin-left: 0;
}
.upload-file-button {
  text-align: center;
  font-family: "gotham-medium", sans-serif;
  font-size: 12px;
  width: 120px;
  color: #5A4A42;
  background-color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 20px;
  border: 0;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.back-button {
  cursor: pointer;
  font-family: "gotham-medium", sans-serif;
  font-size: 14px;
  color: #5A4A42;
}

.back-button img {
  transform: rotate(180deg);
  width: 14px;
  margin-right: 10px;
}
@media (min-width: 1280px) {
  .register-section {
    background-position: top center;
    background-image: url(asset/main-register-bg-desktop.jpg);
    margin: auto;
    padding-top: 50px;
  }

  .register-form-wrapper {
    max-width: 580px;
  }

  .register-form-wrapper label {
    font-size: 20px;
  }

  label.upload-file-title {
    font-size: 12px;
  }

  .tnc-checkbox-label {
    font-size: 12px !important;
  }

  .register-form-wrapper input[type="text"],
  .register-form-wrapper input[type="email"],
  .register-form-wrapper input[type="tel"],
  .register-form-wrapper input[type="number"] {
    padding: 12px;
  }

  .register-button button {
    font-size: 24px;
    width: 200px;
    padding: 8px 12px;
    border-radius: 30px;
  }
}