.result-submit-leaderboard-section {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: auto;
  padding-bottom: 80px;
  background-image: url(asset/main-result-submit-leaderboard-bg.png);
}

.result-submit-leaderboard-section.submit {
  padding-bottom: 80px;
}

.result-submit-leaderboard-title {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  color: #5A4A42;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
}

.result-submit-leaderboard-desc {
  margin: auto;
  margin-top: 20px;
  font-family: "gotham-medium", sans-serif;
  letter-spacing: 0px;
  text-align: center;
  color: #5A4A42;
  font-size: 16px;
}

.submit-action {
  margin: auto;
  text-align: center;
  margin: 20px 0 40px;
}

.submit-button {
  text-align: center;
  font-family: "gotham-bold", sans-serif;
  font-size: 16px;
  width: 280px;
  color: #000000;
  padding: 8px 12px;
  border-radius: 20px;
  border: 0;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.submit-button.main {
  background: #EAE534;
}

.submit-button.mini {
  background: #C4D336;
}

.submit-button:hover,
.submit-button:focus,
.leaderboard-button:hover,
.leaderboard-button:focus {
  outline: none;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.leaderboard-action {
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.leaderboard-button {
  text-align: center;
  font-family: "gotham-bold", sans-serif;
  font-size: 16px;
  width: 200px;
  background-color: #5A4A42;
  color: #FFFFFF;
  padding: 8px;
  border-radius: 20px;
  border: 0;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .result-submit-leaderboard-section {
    background-position: center center;
    background-image: url(asset/main-result-submit-leaderboard-bg-desktop.jpg);
  }
  .submit-button, .leaderboard-button {
    font-size: 24px;
    width: 360px;
    margin: 0 10px;
    padding: 12px;
    border-radius: 30px;
  }
}