.step-participate-section {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: auto;
  padding-bottom: 80px;
  background-image: url(asset/main-step-participate-bg.png);
  margin-top: -2px;
}

.step-participate-section .section-title {
  padding: 40px 0;
}

.step-container {
  margin-top: 20px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.step-item {
  margin-bottom: 20px;
  /* box-sizing: content-box; */
}

.step-item__title {
  font-family: 'gotham-bold', sans-serif;
  text-align: center;
  color: #5A4A42;
  font-size: 20px;
  line-height: 26px;
}

.step-item__image {
  width: 90px;
  margin: auto;
  min-height: 120px;
}

.step-item__image.multi-image {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-image img {
  width: 90px;
  padding: 30px;
}

.step-item__image img {
  width: 100%;
}

.step-item__desc {
  margin-top: 12px;
  font-family: 'gotham-medium', sans-serif;
  text-align: center;
  color: #5A4A42;
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 768px) {
  .step-participate-section {
    background-image: url(asset/main-step-participate-bg-desktop.jpg);
    margin: auto;
  }
  .step-item__desc {
    font-size: 16px;
  }
  .step-container {
    max-width: 880px;
    margin: auto !important;
    align-items: flex-start;
  }
}

@media (min-width: 769px) {
  .step-item__desc {
    font-size: 20px;
    line-height: normal;
  }
}